  
.App {
  text-align: center;
}

.buttonContainer{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.circleContainer{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.Circle{
  color: aliceblue;
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 5px;
}